* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

main header nav {
  font-weight: 300;
  width: 100vw;
  box-shadow: 0 -7px 15px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
main header nav h1 {
  font-size: clamp(1rem, 2.5vw, 4rem);
  padding: 20px 0;
}
main section {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 40px;
  padding: 0 80px;
  padding-right: 100px;
  gap: 30px;
}
@media (max-width: 1400px) {
  main section {
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 100px;
  }
}
@media (max-width: 750px) {
  main section {
    grid-template-columns: 1fr 1fr;
    padding-right: 100px;
  }
}
@media (max-width: 500px) {
  main section {
    grid-template-columns: 1fr;
    padding-right: 100px;
  }
}
main section .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid;
  border-radius: 20px;
}
main section .card .img {
  width: 100%;
  height: 40%;
  overflow: hidden;
}
main section .card .img img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
main section .card .text {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
main section .card .text h2 {
  padding-left: 10px;
  font-size: clamp(1rem, 1.5vw, 2rem);
}
main section .card .text p {
  padding-left: 10px;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  color: rgb(77, 77, 77);
}
main section .card .tech {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 50px;
  justify-content: flex-end;
}
main section .card .tech ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
main section .card .tech ul li {
  background-color: rgb(209, 209, 209);
  color: rgb(0, 0, 0);
  list-style: none;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  padding: 5px 10px;
  border-radius: 30px;
}
main section .card .links {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 10px;
}
main section .card .links .live-link {
  background-color: #0D6F5E;
  text-decoration: none;
  padding: 9px 20px;
  font-weight: 500;
  font-size: clamp(1rem, 1.2vw, 2rem);
  color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 2px solid #0D6F5E;
}
main section .card .links .github-link {
  background-color: transparent;
  text-decoration: none;
  padding: 9px 20px;
  font-weight: 500;
  font-size: clamp(1rem, 1.2vw, 2rem);
  color: #0D6F5E;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 2px solid #0D6F5E;
}
main section .card .links .btn:hover {
  cursor: pointer;
  transform: translatey(-4px);
  transition: all 0.3s ease-in-out;
}
main section .card .links .github-link:hover {
  background-color: #0D6F5E;
  color: white;
  transition: all 0.3s ease-in-out;
}
main section .card .links .live-link:hover {
  background-color: transparent;
  color: #0D6F5E;
  transition: all 0.3s ease-in-out;
  border: 2px solid #0D6F5E;
}/*# sourceMappingURL=style.css.map */